.Container{
    font-size: 1.5rem;
}
.Title{
    grid-column: 2/7;
    grid-row: 1/2;
    height: min-content;
    justify-self: center;
}


.types{
    display: flex;
    flex-direction: row;
    grid-column: 2/4;
    grid-row: 3/4;
    justify-self: right;
    align-self: center;
}

.SelectedTypes{
    display: flex;
    flex-direction: row;
    grid-column: 4/8;
    grid-row: 3/4;
    justify-self: left;
    
}

.height{
    grid-column: 3/5;
    grid-row: 4/5;
    justify-self: left;
}
.weight{
    grid-column: 3/5;
    grid-row: 5/6;
    justify-self: left;
}
.hp{
    grid-column: 3/5;
    grid-row: 6/7;
    justify-self: left;
}
.attack{
    grid-column: 5/7;
    grid-row: 4/5;
    justify-self: left;
}
.defense{
    grid-column: 5/7;
    grid-row: 5/6;
    justify-self: left;
}
.speed{
    grid-column: 5/7;
    grid-row: 6/7;
    justify-self: left;
}

.Close{
    grid-column: 7/8;
    grid-row: 1/2;
    height: min-content;
    background-color: rgb(219, 26, 26);
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 1.3rem;
}
.Close:hover{
    cursor: pointer;
    font-weight: bold;
}
.id{
    grid-column: 3/4;
    grid-row: 7/8;
}

.createdBy{
    grid-column: 4/6;
    grid-row: 7/8;
}

@media screen and (max-width: 830px) {
    
    .Title{
        grid-column: 1/5;
        grid-row: 1/2;
        height: min-content;
        justify-self: center;
    }

    .Img{
        grid-column: 1/2;
        grid-row: 3/12;
    }
    .SelectedTypes{
        display: flex;
        flex-direction: row;
        grid-column: 1/5;
        grid-row: 2/3;
        justify-self: center;
        
    }
    
    
    .height{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 3/4;
        justify-self: right;
    }
    .weight{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 4/5;
        justify-self: right;
    }
    .hp{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 5/6;
        justify-self: right;
    }
    .attack{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 6/7;
        justify-self: right;
    }
    
    .defense{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 7/8;
        justify-self: right;
    }
    .speed{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 8/9;
        justify-self: right;
    }
    
    .id{
        grid-column: 2/5;
        grid-row: 9/10;
        justify-self: right;
    }
    
    .createdBy{
        grid-column: 2/5;
        grid-row: 10/11;
        justify-self: right;
    }
    .Close{
        grid-column: 4/5;
        grid-row: 1/2;
        
    }
    
  }