

.Img{  
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%; 
}

p{
    margin: 0;
}

/* .imgDiv{
    width: 250px;
    height: 250px;
    padding: 0px;
} */
.Title{
    grid-column: 2/8;
    grid-row: 1/2;
    height: min-content;
    justify-self: center;
}

.name{
    display:flex;
    flex-direction: column;
    grid-column: 2/5;
    grid-row: 2/3; 
    justify-self: center;
}
.types{
    display: flex;
    flex-direction: row;
    grid-column: 5/8;
    grid-row: 2/3;
    /* grid-column: 2/5;
    grid-row: 3/4; */
    justify-self: center;
    align-self: center;
}

.height{
    display:flex;
    flex-direction: column;
    grid-column: 2/5;
    grid-row: 4/5;
    justify-self: center;
}
.weight{
    display:flex;
    flex-direction: column;
    grid-column: 2/5;
    grid-row: 5/6;
    justify-self: center;
}
.hp{
    display:flex;
    flex-direction: column;
    grid-column: 2/5;
    grid-row: 6/7;
    justify-self: center;
}
.attack{
    display:flex;
    flex-direction: column;
    grid-column: 5/8;
    grid-row: 4/5;
    justify-self: center;
}
.defense{
    display:flex;
    flex-direction: column;
    grid-column: 5/8;
    grid-row: 5/6;
    justify-self: center;
}
.speed{
    display:flex;
    flex-direction: column;
    grid-column: 5/8;
    grid-row: 6/7;
    justify-self: center;
}
.url{
    grid-column: 2/5;
    grid-row: 7/8;
    justify-self: center;
    display: inline-flex;
    justify-self: center;
}
.submitButton{
    grid-column: 5/8;
    justify-self: center;
    grid-row: 7/8;

}
.SelectedTypes{
    display: flex;
    flex-direction: row;
    grid-column: 5/8;
    grid-row: 3/4;
    justify-self: left;
    align-self: center;
}

.Input{
    /* max-width: 80%; */
    
    color: rgb(36, 35, 35);
    width: 100%;
  min-width: 5ch;
  max-width: 15ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.5em 0.2em 0.3em 0.2em;
  font-size: 1.2rem;
  cursor: pointer;
  /* line-height: 1.1; */
  background-color: transparent; 
   /* background-image: linear-gradient(to top, #222222, rgb(0, 0, 0) 33%);  */
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  
}

.Dropdown {
    display: inline-block;
    position: relative;
    width: 120px;
  }

.DropdownContent {
    display: none;
    position: absolute;
    right:0px;
    top:10px;
    width: 250%;
    overflow: auto;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    background-color: white;
    z-index: 3;
    }

    .Dropdown:hover .DropdownContent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2px;
        }

    /* .Dropdown:checked .DropdownContent {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2px;
            
            } */
    
.invalidInput{
    border: solid 2px red;
}

.validInput{
    border: solid 2px green;
}

.alertLabel{
    
    font-size: 0.7rem;
    color: red;
    
}

.BorderLabel{
    background-color: rgb(255, 255, 255);
    position: relative;
    top:10px;
    /* left: -65px; */
    left: 10px;
    font-size: 1rem;
    height: min-content;
    width: min-content;
    color: rgb(90, 90, 90);
    padding-inline: 0.2rem;
}

.InputDiv{
    height: 100%;
    width: 100%;
    display: inline-block;
    margin-inline: 10px;
    text-align: left;
}

@media screen and (max-width: 890px) {
    .Detail {
      /* width: 350px; */
      grid-template-columns: auto repeat(3, 1fr);
      grid-template-rows: auto auto repeat(6, auto);
    }
    .Title{
        grid-column: 1/5;
        grid-row: 1/2;
        height: min-content;
        justify-self: center;
    }
    
    .name{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 2/3; 
        justify-self: center;
    }
    .types{
        display: flex;
        flex-direction: row;
        grid-column: 2/5;
        grid-row: 3/4;
        /* grid-column: 2/5;
        grid-row: 3/4; */
        justify-self: center;
        align-self: center;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    
    .height{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 4/5;
        justify-self: center;
    }
    .weight{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 5/6;
        justify-self: center;
    }
    .hp{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 6/7;
        justify-self: center;
    }
    .attack{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 7/8;
        justify-self: center;
    }
    
    .defense{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 8/9;
        justify-self: center;
    }
    .speed{
        display:flex;
        flex-direction: column;
        grid-column: 2/5;
        grid-row: 9/10;
        justify-self: center;
    }
    .url{
        grid-column: 1/2;
        grid-row: 8/9;
        justify-self: center;
        display: inline-flex;
        justify-self: center;
    }
    .submitButton{
        grid-column: 1/2;
        justify-self: center;
        grid-row: 9/10;
    
    }
    .SelectedTypes{
        display: flex;
        flex-direction: column;
        grid-column: 1/5;
        grid-row: 1/2;
        justify-self: right;
        align-self: center;
        
    }
    .DropdownContent {
        right:0px;
        top:30px;
        }
  }

  @media screen and (max-width: 610px) {
    
    .Title{
        grid-column: 1/3;
        grid-row: 1/2;
        height: min-content;
        justify-self: center;
    }

    .imgDiv{
        grid-column: 1/3;
        grid-row: 7/8;
        margin-block: 20px;
    }
    
    .name{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 2/3; 
        justify-self: center;
    }
    .types{
        display: flex;
        flex-direction: row;
        grid-column: 2/3;
        grid-row: 6/7;
        /* grid-column: 2/5;
        grid-row: 3/4; */
        justify-self: center;
        align-self: center;
        padding-bottom: 5px;
        margin: auto;
        
    }
    
    .height{
        display:flex;
        flex-direction: column;
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
    }
    .weight{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: center;
    }
    .hp{
        display:flex;
        flex-direction: column;
        grid-column: 2/3;
        grid-row: 3/4;
        justify-self: center;
    }
    .attack{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 4/5;
        justify-self: center;
    }
    
    .defense{
        display:flex;
        flex-direction: column;
        grid-column: 2/3;
        grid-row: 4/5;
        justify-self: center;
    }
    .speed{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 5/6;
        justify-self: center;
    }
    .url{
        grid-column: 1/2;
        grid-row: 6/7;
        justify-self: center;
        display: inline-flex;
        justify-self: center;
    }
    .submitButton{
        grid-column: 1/3;
        justify-self: center;
        grid-row: 8/9;
    
    }
    .SelectedTypes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: 2/3;
        grid-row: 5/6;
        justify-content: center;
        align-self:baseline;
        width: 100%;
        
    }
    .DropdownContent {
        right:0px;
        top:30px;
        }
  }

  @media screen and (max-width: 430px) {
    
    .Title{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 2rem;
        
    }

    

    .imgDiv{
        grid-column: 1/2;
        grid-row: 12/13;
        margin-block: 20px;

    }
    
    .name{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 2/3; 
        justify-self: center;
    }
    .types{
        display: flex;
        flex-direction: row;
        grid-column: 1/2;
        grid-row: 10/11;
        /* grid-column: 2/5;
        grid-row: 3/4; */
        justify-self: center;
        align-self: center;
        padding-bottom: 5px;
        margin: 15px auto;
        
    }
    
    .height{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: center;
    }
    .weight{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 4/5;
        justify-self: center;
    }
    .hp{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 5/6;
        justify-self: center;
    }
    .attack{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 6/7;
        justify-self: center;
    }
    
    .defense{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 7/8;
        justify-self: center;
    }
    .speed{
        display:flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 8/9;
        justify-self: center;
    }
    .url{
        grid-column: 1/2;
        grid-row: 9/10;
        justify-self: center;
        display: inline-flex;
        justify-self: center;
    }
    .submitButton{
        grid-column: 1/2;
        justify-self: center;
        grid-row: 13/14;
    
    }
    .SelectedTypes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: 1/2;
        grid-row: 11/12;
        justify-content: center;
        align-self:baseline;
        max-width: 100%;
        min-width: 50%;
        margin-top: 10px;
        
    }

    .Input{
        max-width: 80%;
        min-width: 20%;
    }

    .DropdownContent {
        right:-80px;
        top:-200px;
        }

        .Img{  
            /* max-width: 80%;
            max-height: 80%;
            min-width: 20%;
            min-height: 20%;  */

            min-width: 120px;
    min-height: 200px;
    height: 100%;
    width: 100%;
        }
  }