@-webkit-keyframes slide-up {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-up  {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

  @-webkit-keyframes slide-down {
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-down  {
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }

  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
              box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
    }
  }


.Card{
    --card-width: 250px
    
}





.PagContainer{
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: white;
    -webkit-animation: slide-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Bar{
    
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    /* border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px; */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    position: relative;
    -webkit-animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-down 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: -1;
}

.Cards{
    max-width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;
    justify-content: space-evenly;
    -webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.Card{
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-inline: 5px;
    margin: 15px 5px 0px 5px;
    box-shadow:2px 2px 10px 0px black;
    overflow: hidden;
}

.Card:hover{
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Detail{
    display:grid;
    grid-template-columns: 350px repeat(6, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-gap:5px;
    justify-items: right;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow:2px 2px 10px 0px black;
    overflow: hidden;
    padding: 20px;
}



.imgContainer{
    
    max-width: 100%;
    max-height: 100%;
    width: 150px;
    height: 150px;
    margin: auto;

}

.imgDetail{
    
    width: 350px;
    height: 350px;
    margin: auto;
    grid-column: 1/2;
    grid-row: 1/9;
    
}

.Dropdown{
    justify-content: center; 
    display: inline-flex;
    flex-direction: row;  
    padding: 0px;
    height: 100%;
    color: white;
    margin: 2px 5px;
    
  
}

.Link{
  text-decoration: none;
  margin: 0px;
}


@media screen and (max-width: 350px) {
  
  .PagHide{
    display: none;
  }
  .Card{
    width: 95%;
    margin-inline: 0px;
    
}
.Cards{
  justify-content: center;
}
  
}


@media screen and (min-width: 320px) {
    .Card{
        --card-width: 320px;
    }
    
}

@media screen and (min-width: 485px) {
    .Card{
        --card-width: 210px;
    }
    
}

@media screen and (max-width: 485px) {
    .Bar{
        
        justify-content: flex-end;
        padding: 5px 10px;
    }
    
    
    
}

@media screen and (min-width: 850px) {
    .Card {
        --card-width: 200px;
    }
}

@media screen and (min-width: 1500px) {
    .Card {
        --card-width: 250px;
    }
}



/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */