.Ground{
    background-color: #AD7B49;
    color: white ;
}
.Rock{
    background-color: #888780;
    color: white ;
}
.Normal{
    background-color: #F6C8DD;
    color: black ;
}
.Flying{
    background-color: #F0E78E;
    color: black ;
}
.Poison{
    background-color: #664497;
    color: white ;
}
.Bug{
    background-color: #FF974E;
    color: black;
}
.Ghost{
    background-color: #3E4E57;
    color: white;
}
.Steel{
    background-color: #87B1D0;
    color: black; 
}
.Fire{
    background-color: #E73820;
    color: white;
}
.Water{
    background-color: #1c659c;
    color: white;
}
.Grass{
    background-color: #00A63C;
    color: white;
}
.Electric{
    background-color: #FFE100;
    color: black;
}
.Psychic{
    background-color: #990024;
    color: white;
}
.Ice{
    background-color: white;
    color: #0088B7;
}
.Dragon{
    background-color: #5DC1CF;
    color: black;
}
.Fighting{
    background-color: #A3623C;
    color: white;
}
.Fairy{
    background-color: #FF00DD;
    color: black;
}
.Dark{
   background-color: black;
   color: whitesmoke;
}
.Shadow{
    background-color: rgb(54, 27, 71);
   color: whitesmoke;
}
.Unknown{
    background-color: white;
   color: black;
}

.buttonType{
    border-radius: 10px;
    font-size: 1rem;
    width: 90px;
    height: 1.5rem;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    
}
.TypeDetail{
    border-radius: 10px;
    font-size: 1.5rem;
    width: 120px;
    height: auto;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
}

.simple{
    font-size: 1rem;
}

.simple:hover{
    cursor: pointer;
    font-weight: bold;
}

.Div{
    width: min-content;
    display: flex;
    flex-direction: row;
    height: 80%;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    font-size: 1rem;
    
}

.CloseDiv{
    width: min-content;
    display: flex;
    flex-direction: row;
    height: 80%;
    background-color: rgba(251, 251, 251);
    border: solid 1px lightgray;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    font-size: 1rem;
    color: black;
    
}
.closeButton{
    border: none;
    background-color: rgba(251, 251, 251, 0.281);
    cursor: pointer;
    border-radius: 50%;
    margin: 2px;
    color: red
    
}

.closeButton:hover{
    background-color: rgb(196, 25, 25);
    color: whitesmoke
}

.Submit{
    width: 150px;
    font-size: 1.8rem;
    border-radius: 20px;
    border:none;
    box-shadow:2px 2px 5px 0px black;
    background-color: whitesmoke;
    color: #FF1C1C;
    
}

.Submit:hover{
    background-color: #FF1C1C;
    color: black;
    cursor: pointer;
}

.Submit:active{
    background-color: black;
    color: #FF1C1C;
}

.Important{
    width: 80px;
    font-size: 1rem;
    border-radius: 20px;
    border:none;
    box-shadow:2px 2px 5px 0px black;
    background-color: whitesmoke;
    color: #FF1C1C;
    margin-inline: 10px;
}

.Important:hover{
    background-color: #FF1C1C;
    color: black;
    cursor: pointer;
}

.Important:active{
    background-color: black;
    color: #FF1C1C;
}